.footer
  .footer__logo-box
    picture.footer__logo
      
      source(srcset='img/csi-logo.png 1x, img/csi-logo.png 2x' media='(max-width: 37.5em)')
      img(srcset='img/csi-logo.png 1x, img/csi-logo.png 2x' alt='Full logo' src='img/logo-green-2x.png')
  
  .row
    .col-1-of-2
      p.footer__copyright
        | Developed and designed by 
        a.footer__link(href='#popup-2')  Devansh Bhushan
        |                         Front-End Developer: 
        br
        |                         Back-End Developer:
        strong DEVANSH BHUSHAN
  