.footer
  .footer__logo-box
    picture.footer__logo
      
      source(srcset='img/csi-logo.png 1x, img/csi-logo.png 2x' media='(max-width: 37.5em)')
      img(srcset='img/csi-logo.png 1x, img/csi-logo.png 2x' alt='Full logo' src='img/logo-green-2x.png')
  
  .row
    h2 Contact us
    .col-1-of-2
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link(href='https://www.instagram.com/csi_gndec/?hl=en' target='_blank') Instagram
          li.footer__item
            a.footer__link(href='https://www.facebook.com/csigndec' target='_blank') Facebook
          li.footer__item
            a.footer__link(href='http://www.csi-india.org/'  target='_blank') CSI National
    .col-1-of-2
      p.footer__copyright
        | Developed and designed by 
        a.footer__link(href="#popup-1") Abhishek Saini 
        |  &amp; 
        a.footer__link(href='#popup-2')  Devansh Bhushan
        |                         Front-End Developer: 
        strong ABHISHEK SAINI
        br
        |                         Back-End Developer:
        strong DEVANSH BHUSHAN
  