extends base
block content
  body#body1
    .row#login-row
      .book
        .book__form
          form.form.form----login(action='#')
            .u-margin-bottom-medium
            
              h2.heading-secondary
                | Login into your account!
            .form__group
              input#email.form__input(type='email' placeholder='Email' required='')
              label.form__label(for='Email') Email
            .form__group
              input#password.form__input(type='password' placeholder='Password' required='')
              label.form__label(for='password') Password    
            //.form__group.u-margin-bottom-medium
            .form__group
              button.btn.btn--green Login &rarr;
                        .form__group
              a#forgot-pass(href='/forgotMyPassword') Forgot Password &rarr;
              h1 OR
          .form__group
            a.button.btn.btn--green(href="/signup") Register &rarr;
  #popup-2.popup-2
    .popup-2__content
      .popup-2__left
        img.popup-2__img(src='img/devansh.jpeg' alt='Photo')
      .popup-2__right
        a.popup-2__close(href='#footer') &times;
        h2.heading-secondary.u-margin-bottom-small
          | Devansh Bhushan
        h3.heading-tertiary.u-margin-bottom-small
          | Back-End Developer &ndash; Details about me
        p.popup-2__text
          | Student of D3/CSE 
          br
          |             Guru Nanak Dev Engineering College Ludhiana
          br
          |             Contact number &thicksim; 8556040271
          br
          |             Email_id &thicksim; devanshbhushan79@gmail.com
        a.btn.btn--green(href='https://www.linkedin.com/in/devansh-bhushan-679013169' target="_blank") Linked In!
        a.btn.btn--green(href='https://www.instagram.com/devanshbhushan1002/?hl=en' target="_blank") Instagram!
  
  #popup-1.popup-1
    .popup-1__content
      .popup-1__left
        img.popup-1__img(src='img/saini.jpeg' alt='Photo')
      .popup-1__right
        a.popup-1__close(href='#footer') &times;
        h2.heading-secondary.u-margin-bottom-small
          | Abhishek Saini
        h3.heading-tertiary.u-margin-bottom-small
          | Front-End Developer &ndash; Details about me
        p.popup-1__text
          | Student of D3/CSE 
          br
          |             Guru Nanak Dev Engineering College Ludhiana
          br
          |             Contact number &thicksim; 9780072442
          br
          |             Email_id &thicksim; abisheksainisaini56@gmail.com
        a.btn.btn--green(href='https://www.linkedin.com/in/abhishek-saini-6172b3169' target="_blank") Linked In!
        a.btn.btn--green(href='https://www.instagram.com/saini9946/?hl=en' target="_blank") Instagram!
            
    
