extends base
block content
    header.header
    .header__text-box
      h1.heading-primary
        span.heading-primary--main HELP-DESK GNDEC
        span.heading-primary--sub Answer to all your Queries
      a.btn.btn--white.btn--animated(href='/login') LOGIN/SIGNUP